#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em 0;
  /* will-change: filter; */
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

body,
h1,
.App-header {
  background-color: var(--body_background);
  color: var(--body_color);
}

.App-link {
  color: var(--link_color);
}
